#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:

-List popular languages for Data Science.
-Introduce commonly used libraries in data science.
-Create and format tables in markdown
-Evaluate arithmetic expressions in Python.
-Demonstrate the use of comment lines.

Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.SQL
4.Julia

Some of the commonly used libraries used by Data Scientists include:

1.NumPy
2.Pandas
3.scikit-learn
4.Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| RStudio            |
| VS Code            |

###Below are a few examples of evaluating arithetic expressions in Python

In [1]:
#This is a simple arithmetic expression t multiply and then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
(200/60)

3.3333333333333335

##Author
Zeden Mo Tamang